.containerOfBuy {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    margin-top: 70px; 
}

.incrementButton {
    display: flex; 
    align-items: center; /

}

.buttons {
    
    
}

.Number {
    font-size: 24px; 
    margin: 0 10px; /
}


